
 ul li {  
  display: inline;    

margin-left:4% ;
} 


 body {  
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
    width: 870px;
 
      margin: auto;  
 
    background-color:lightblue;
 
     } 
 
   
 
    h3 {
color:white 

    }

  
  
 
  p{ line-height: 1.5; }  
 
 h1{     text-align: center;
 color: tomato;
 background-color: rgb(17, 10, 68);
  }
  
  h2 {

    margin: auto;
background-color:darkslategrey;
opacity:0.5;
  }
  .a {  
    
    float:left;     

 margin: 2%; }
 
  h3 {     
 
 color: red;     
 
 text-align: center; 

}